<app-header></app-header>

<article class="container">

  <div class="content-post">

    <div class="userTools">
      <button type="button" (click)="setPostFormStatus(true)" class="newPost__btn">+ Post</button>
      <button type="button" (click)="setRouterFormStatus(true)" class="newRoute__btn">+ Route</button>
      <button type="button" (click)="setSaleFormStatus(true)" class="newSale__btn">+ Sale</button>
    </div>

    <div class="post__form" [ngClass]="{'post__form-open': postFormOpen }">
      <h2>New Post</h2>
      <form>
        <label for="image">
          <input class="custom-file-input" type="file">
        </label>
        <label for="post">
          <input class="post__form-input-text" type="text" placeholder="Enter your post content..." > 
        </label>
        <button class="post__form-btn" (click)=createPost() type="button">Create Post</button>
        <button class="post__form-btn" (click)="setPostFormStatus(false)" type="button">Cerrar</button>

      </form>
    </div>

    <div class="route__form" [ngClass]="{'route__form-open': routeFormOpen }">
      <h2>New Route</h2>
      <form action="">
        <label for="route">
          <input type="text" class="route__form-input-text" placeholder="Enter your route description">
        </label>
        <button class="route__form-btn" type="button">Create Route</button>
        <button class="route__form-btn" (click)="setRouterFormStatus(false)" type="button">Cerrar</button>
      </form>
    </div>

    <div class="sale__form" [ngClass]="{'sale__form-open': saleFormOpen }">

      <h2>New Sale</h2>
      <form action="">

        <label for="image">
          Upload article images
          <input class="custom-file-input" type="file">
        </label>

        <label for="">
          <input type="text" class="sale__form-input-brand" placeholder="Brand and Model">
        </label>

        <label for="kilometer">
          <input type="number" class="sale__form-input-kilometer" placeholder="kilometers">
        </label>

        <label for="price">
          <input type="number" class="sale__form-input-number" placeholder="Enter price in €">
        </label>

        <label for="place">
          <select name="place">
            <option value="coruna">Place</option>
            <option value="coruna">A Coruña</option>
            <option value="alaba">Álaba</option>
            <option value="albacete">Albacete</option>
            <option value="alicante">Alicante</option>
            <option value="almeria">Almeria</option>
            <option value="asturias">Asturias</option>
            <option value="avila">Ávila</option>
            <option value="badajoz">Badajoz</option>
            <option value="baleares">Baleares</option>
            <option value="barcelona">Barcelona</option>
            <option value="burgos">Burgos</option>
            <option value="caceres">Cáceres</option>
            <option value="cadiz">Cádiz</option>

          </select>
        </label>

        <label for="description">
          <input type="text" class="sale__form-input-text" placeholder="Sale description">
        </label>

        <button class="sale__form-btn" type="button">Create Sale</button>
        <button class="sale__form-btn" (click)="setSaleFormStatus(false)" type="button">Cerrar</button>

      </form>
    </div>


    <mat-card class="post-card" *ngFor="let post of posts">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="post.image">
      <mat-card-content>
        <p>
          {{post.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary"><a routerLink="/post/{{post.id}}">More Info</a></button>
        <button mat-button>Edit</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="route-card" *ngFor=" let route of routes">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{route.title}}</mat-card-title>
        <mat-card-subtitle>{{route.subtitle}}</mat-card-subtitle>

      </mat-card-header>
      <img mat-card-image [src]="route.image">
      <mat-card-content>
        <p>
          {{route.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary"><a routerLink="/route/{{route.id}}">More Info</a></button>
        <button mat-button>Edit</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="sale-card" *ngFor="let sale of sales">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{sale.title}}</mat-card-title>
        <mat-card-subtitle>{{sale.subtitle}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="sale.image">
      <mat-card-content>
        <p>{{sale.brand}}</p>
        <p>{{sale.kilometers}}</p>
        <p>{{sale.price}}</p>
        <p>
          {{sale.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary"><a routerLink="/sale/{{sale.id}}">More Info</a></button>
        <button mat-button>Edit</button>
      </mat-card-actions>
    </mat-card>

  </div>

</article>