@import "../../../../assets/scss/colors";

.container {
  background-color: $body-home-color;

  &-open-form {
    overflow: hidden;
  }

  a {
    text-decoration: none;
  }

  .content-post {
    border: 1px solid $header-bg-color;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .post-card,
    .route-card,
    .sale-card {
      max-width: 800px;
      width: 100%;
      margin-bottom: 8px;
      
      a{
        text-decoration: none;
        color: black;
      }
      
      .secondUser{
        border-radius: 50%;
      }
      .description{
        margin-top: 12px;
      }  
    }
    
  }

  .header-image {
    background-image: url('../../../../assets/images/profile-photo.jpg');
    background-size: cover;
  }
  .descriptionRoute{
    margin-top: 12px;
  }
 
}

.searchTool {
  input {
    border: 1px solid $border-radius-color;
    border-radius: 3px;
    width: 95px;
    margin-top: 22px;
    margin-left: 5px;
  }

  button {
    border-radius: 3px;
    width: 16px;
    height: 19px;
    padding-left: 3px;
  }
}

.userTools {
  margin-top: 66px;
  margin-bottom: 20px;
  margin-right: 2px;
  display: flex;
  justify-content: center;

  .new__post-icon, .new__route-icon, .new__sale-icon {
    width: 30px;
    height: 30px;
    position: relative;
    fill: #fff;
  }
   .new__sale-icon{
    width: 33px;
    height: 33px;
    position: relative;
    fill: #fff;
   }
  

  button {
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 3px;
    color: $font-bg-color;
    background-color: $btn-bg-color;
    margin-top: 1px;
    margin-left: 2px;

  }

}


.post__form {
  position: fixed;
  z-index: 30;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $post__form-bg-color;
  width: 100%;
  height: 100vh;
  color: #fff;
  margin-top: -99px;
  top: -99999999px;

  &-open {
    top: 130px;
    left: 0px;
  }

  mat-card {
    background-color: $form-card-color;
  }

  h2 {
    margin-bottom: 10px;
    margin-left: 36%;
    font-size: 19px;
    font-weight: bold;

  }

  .custom-file-input {
    margin-bottom: 10px;
    color: transparent;
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    content: 'Upload Image';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #fff, #e3e3e3);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }

  .custom-file-input:hover::before {
    border-color: black;
  }

  .custom-file-input:active {
    outline: 0;
  }

  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .post__form-btn {
    button {
      margin-left: 8px;
    }
  }

}

.route__form {

  position: fixed;
  z-index: 25;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $post__form-bg-color;
  width: 100%;
  height: 100vh;
  color: #fff;
  margin-top: -99px;
  top: -99999999px;

  &-open {
    top: 130px;
    left: 0px;
  }

  mat-card {
    background-color: $form-card-color;
  }

  h2 {
    margin-bottom: 10px;
    margin-left: 36%;
    font-size: 19px;
    font-weight: bold;

  }

  .route__form-btn {
    button {
      margin-left: 8px;
    }
  }

}

.sale__form {
  position: fixed;
  z-index: 20;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $post__form-bg-color;
  width: 100%;
  height: 100vh;
  color: #fff;
  margin-top: -99px;
  top: -99999999px;

  &-open {
    top: 130px;
    left: 0px;
  }

  mat-card {
    background-color: $form-card-color;
  }

  input {
    margin-bottom: 5px;
  }

  h2 {
    margin-bottom: 10px;
    margin-left: 36%;
    font-size: 19px;
    font-weight: bold;
  }

  .sale__form-btn {
    button {
      margin-left: 8px;
    }
  }

  .custom-file-input {
    margin-bottom: 10px;
    color: transparent;
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    content: 'Upload Image';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #fff, #e3e3e3);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }

  .custom-file-input:hover::before {
    border-color: black;
  }

  .custom-file-input:active {
    outline: 0;
  }

  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  
}

agm-map {
  height: 200px;
  width: 100%;
}
