<app-header></app-header>

<article class="container ">

  <div class="content-post">

    <div class="userTools">
      <button type="button" (click)="setPostFormStatus(true)" class="newPost__btn">+ Post</button>
      <button type="button" (click)="setRouterFormStatus(true)" class="newRoute__btn">+ Route</button>
      <button type="button" (click)="setSaleFormStatus(true)" class="newSale__btn">+ Sale</button>
    </div>

    <div class="post__form" [ngClass]="{'post__form-open': postFormOpen }">

      <mat-card>
        <h2>New Post</h2>
        <form>
          <label for="image">
            <input class="custom-file-input" type="file">
          </label>
          <mat-form-field>
            <textarea matInput placeholder="Enter your post content"></textarea>
          </mat-form-field>

          <div class="post__form-btn">
            <button (click)=createPost() mat-raised-button color="primary">Create Post</button>
            <button (click)="setPostFormStatus(false)" mat-raised-button color="warn">Close</button>
          </div>
        </form>
      </mat-card>

    </div>

    <div class="route__form" [ngClass]="{'route__form-open': routeFormOpen }">
      <mat-card>
        <h2>New Route</h2>
        <form>
            <mat-form-field>
                <input type="text" matInput placeholder="Start">
              </mat-form-field>
              <mat-form-field>
                  <input type="text" matInput placeholder="End">
                </mat-form-field>

          <div class="route___form-map">
            <iframe
              src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Madrid+(Javier%20Sanchez)&amp;ie=UTF8&amp;t=&amp;z=18&amp;iwloc=B&amp;output=embed"
              width="100%" height="228" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <mat-form-field>
            <textarea matInput placeholder="Enter route description"></textarea>
          </mat-form-field>
          <div class="route__form-btn">
            <button (click)=createRoute() mat-raised-button color="primary">Create Route</button>
            <button (click)="setRouterFormStatus(false)" mat-raised-button color="warn">Close</button>
          </div>
        </form>
      </mat-card>
    </div>

    <div class="sale__form" [ngClass]="{'sale__form-open': saleFormOpen }">

      <mat-card>
        <h2>New Sale</h2>
        <form>

          <label for="image">
            <input class="custom-file-input" type="file">
          </label>

          <mat-form-field>
            <input type="text" matInput placeholder="Brand & Model">
          </mat-form-field>

          <mat-form-field>
            <input type="number" matInput placeholder="Kilometers">
          </mat-form-field>

          <mat-form-field>
            <input type="number" matInput placeholder="Price in €">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Sale description"></textarea>
          </mat-form-field>

          <div class="sale__form-btn">
            <button type="button" (click)=createSale() mat-raised-button color="primary">Create Sale</button>
            <button mat-raised-button (click)="setSaleFormStatus(false)" type="button" color="warn">Close</button>
          </div>
        </form>
      </mat-card>
    </div>

    <mat-card class="post-card" *ngFor="let post of posts">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="post.image">
      <mat-card-content>
        <p>
          {{post.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary"><a routerLink="/post/{{post.id}}">More Info</a></button>
        <button mat-button>Edit</button>
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="route-card" *ngFor=" let route of routes">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{route.title}}</mat-card-title>
        <mat-card-subtitle>{{route.subtitle}}</mat-card-subtitle>

      </mat-card-header>
     <!-- <img mat-card-image [src]="route.image"> -->
     <div class="route-card__map">
        <iframe
          src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Madrid+(Javier%20Sanchez)&amp;ie=UTF8&amp;t=&amp;z=18&amp;iwloc=B&amp;output=embed"
          width="100%" height="228" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <mat-card-content>
        <p>
          {{route.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary"><a routerLink="/route/{{route.id}}">More Info</a></button>
        <button mat-button>Edit</button>
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="sale-card" *ngFor="let sale of sales">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{sale.title}}</mat-card-title>
        <mat-card-subtitle>{{sale.subtitle}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="sale.image">
      <mat-card-content>
        <p>{{sale.brand}}</p>
        <p>{{sale.kilometers}}</p>
        <p>{{sale.price}}</p>
        <p>
          {{sale.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary"><a routerLink="/sale/{{sale.id}}">More Info</a></button>
        <button mat-button>Edit</button>
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>

  </div>

</article>