<app-header></app-header>
<div class="container">
  <div class="sale__form">

    <mat-card>
      <h2 *ngIf= "!this.sale._id">New Sale</h2>
      <h2 *ngIf= "this.sale._id">Edit Sale</h2>
      <form [formGroup]="myForm" novalidate="">
        <!-- <label for="image">
          <input class="custom-file-input" type="file">
        </label>
      -->
        <mat-form-field>
          <input type="text" formControlName="image" matInput placeholder="URL image" value="{{sale.image}}" required>
        </mat-form-field>

        <mat-form-field>
          <input type="text" formControlName="brand" matInput placeholder="Brand & Model" value="{{sale.brand}}" required>
        </mat-form-field>

        <mat-form-field>
          <input type="number" formControlName="kilometers" matInput placeholder="Kilometers" value="{{sale.kilometers}}" required>
        </mat-form-field>

        <mat-form-field>
          <input type="number" formControlName="price" matInput value="{{sale.price}}" placeholder="Price in €" required>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput formControlName="text" value="{{sale.text}}" placeholder="Sale description" required></textarea>
        </mat-form-field>

        <div class="sale__form-btn">
          <button type="button" (click)=createSale() [disabled]="!myForm.valid" *ngIf= "!this.sale._id" mat-raised-button color="primary">Create
            Sale</button>
            <button type="button" (click)=editSale() *ngIf= "this.sale._id"  mat-raised-button color="primary">Edit
                Sale</button>
          <button mat-raised-button routerLink="/home" type="button" color="warn">Close</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>