<app-header></app-header>
<div class="container">
  <div class="sale__form">

    <mat-card>
      <h2>New Sale</h2>
      <form [formGroup]="myForm" novalidate="">
        <!-- <label for="image">
          <input class="custom-file-input" type="file">
        </label>
      -->
        <mat-form-field>
          <input type="text" formControlName="image" matInput placeholder="url image" required>
        </mat-form-field>

        <mat-form-field>
          <input type="text" formControlName="brand" matInput placeholder="Brand & Model" required>
        </mat-form-field>

        <mat-form-field>
          <input type="number" formControlName="kilometers" matInput placeholder="Kilometers" required>
        </mat-form-field>

        <mat-form-field>
          <input type="number" formControlName="price" matInput placeholder="Price in €" required>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="Sale description" required></textarea>
        </mat-form-field>

        <div class="sale__form-btn">
          <button type="button" (click)=createSale() [disabled]="!myForm.valid" mat-raised-button color="primary">Create
            Sale</button>
          <button mat-raised-button routerLink="/home" type="button" color="warn">Close</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>