<div class="login-menu">
  <h1>Bikegram</h1>
  <div class="login__form">
    <mat-card>
      <form [formGroup]="myForm" novalidate="">

        <div>
          <mat-form-field>
            <input class="form-control" matInput placeholder="Enter your email"  formControlName="email" required>
            <mat-error *ngIf="myForm?.controls.email.invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input class="form-control" matInput placeholder="Enter your password" 
              type="password" formControlName="password" minlength="4" required>
            <mat-error *ngIf="myForm?.controls.password.invalid">{{getErrorMessagePassword()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="login__buttons">
          <button mat-button color="primary" [disabled]="!myForm.valid" (click)="submit()">Login</button>
          <button class="register-btn" mat-button color="warn"><a routerLink="/register">Register</a></button>
        </div>

      </form>
    </mat-card>
  </div>
</div>