<app-header></app-header>

<div class="container">



    <div class="first-info">
  
      <img class="first-info__image" src="../../../../assets/images/profile-photo.jpg" alt="">
  
    </div>
  
    <div class="second-info">
      <p class="second-info__name">Javier Sánchez</p>
      <p class="second-info__city">Madrid</p>
      <p class="second-info__bike">Montesa Impala Sport</p>
    </div>
  
    <div class="post-info">
      <p class="post-info__title"><u>POSTS</u></p>
    </div>

    <div class="post-user">

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://www.motofichas.com/images/articulos/ducati/monster_797/prueba-ducati-monster-797-accion-texto.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://www.motofichas.com/images/articulos/ducati/monster_797/prueba-ducati-monster-797-accion-texto.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>

    </div>
</div>

