<app-header></app-header>

<div class="container">



    <div class="first-info">
  
      <img class="first-info__image" src="../../../../assets/images/profile-photo.jpg" alt="">
  
    </div>
  
    <div class="second-info">
      <p class="second-info__name">Javier Sánchez</p>
      <p class="second-info__city">Madrid</p>
      <p class="second-info__bike">Montesa Impala Sport</p>
    </div>
  
    <div class="post-info">
      <p class="post-info__title"><u></u></p>
    </div>

    <div class="post-user">

      <mat-card class="post-card" *ngFor="let post of posts">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Javier Sánchez</mat-card-title>
          <mat-card-subtitle>Madrid - {{post.createdAt | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="post.image">
        <mat-card-content>
          <p>
            {{post.text}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="editPost(post._id)">Edit</button>
          <button mat-button (click)="deletePost($event, post._id)" color="warn">Delete</button>
        </mat-card-actions>
      </mat-card>
  
  
      <mat-card class="route-card" *ngFor=" let route of routes">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Javier Sánchez</mat-card-title>
          <mat-card-subtitle>Madrid - {{route.createdAt | date:'medium'}}</mat-card-subtitle>
  
        </mat-card-header>
        <div class="route-card__map">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-direction [origin]="origin" [destination]="destination">
            </agm-direction>
          </agm-map>
        </div>
        <mat-card-content>
          <p>
            {{route.text}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="warn" (click)="deleteRoute($event, route._id)">Delete</button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="sale-card" *ngFor="let sale of sales">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Javier Sánchez</mat-card-title>
          <mat-card-subtitle>Madrid - {{sale.createdAt | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
  
        <img mat-card-image [src]="sale.image">
        <mat-card-content>
          <p>{{sale.brand}}</p>
          <p>{{sale.kilometers}} km</p>
          <p>Precio:{{sale.price}} €</p>
          <p>{{sale.text}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="editSale(sale._id)">Edit</button>
          <button mat-button color="warn" (click)="deleteSale($event, sale._id)">Delete</button>
        </mat-card-actions>
      </mat-card>

    </div>
</div>

