$btn-bg-color: #0B5394; //#00B7F9;
$btn-reset-bg-color: #b03c3c;
$border-radius-color: #d8d8d8;
$border-radius-color-login: grey;
$font-bg-color: #fff;
$body-home-color: #e2eaf2; //#E6E6E6;
$form-card-color: #e2eaf2;
$header-bg-color: #063977; //darkblue;
$error-message-color: tomato;
$post__form-bg-color: #85A9CA;//rgba(0, 183, 249, .9);
