$btn-bg-color: #00B7F9;
$btn-reset-bg-color: #b03c3c;
$border-radius-color: #d8d8d8;
$border-radius-color-login: grey;
$font-bg-color: #fff;
$body-home-color: #E6E6E6;
$header-bg-color: darkblue;
$card-bg-color: #fff;
$error-message-color: tomato;
$post__form-bg-color: rgba(0, 183, 249, .9);
