@import '../../../assets/scss/reset';
@import '../../../assets/scss/colors';


.register {

  background: url("../../../assets/images/2.jpeg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  a {
    text-decoration: none;
  }

  .register__form {
    //background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;

    mat-card {
      background-color: rgba(255, 255, 255, 0.9);
    }

  }
}