<main class="register">

  <div class="register__form">
    <mat-card>
        <a routerLink="/login"><svg width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>arrow-left</title>
          <desc>Created with Sketch.</desc>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Calendario" transform="translate(-38.000000, -216.000000)" fill="#9B9B9B">
                  <g id="Calendar" transform="translate(10.000000, 190.000000)">
                      <path d="M42.6891969,34.1601751 L31.7051995,34.1601751 L35.7590585,38.2104786 C36.1340879,38.5854715 36.1340879,39.1925428 35.7590585,39.5675358 C35.3840291,39.9425287 34.7762665,39.9425287 34.4012371,39.5675358 L28.7391155,33.9103906 C28.5468576,33.7181513 28.4545232,33.465205 28.4595826,33.212891 L28.4595826,33.2122586 L28.4595826,33.2116263 C28.4545232,32.9593123 28.5468576,32.7057335 28.7391155,32.5134943 L34.4012371,26.8563491 C34.7762665,26.4819885 35.3840291,26.4819885 35.7590585,26.8563491 C36.1340879,27.2313421 36.1340879,27.8390457 35.7590585,28.2134063 L31.7051995,32.2643422 L42.6891969,32.2643422 C43.2134791,32.2643422 43.6378378,32.6886597 43.6378378,33.2122586 C43.6378378,33.7352252 43.2134791,34.1601751 42.6891969,34.1601751 L42.6891969,34.1601751 Z" id="arrow-left"></path>
                  </g>
              </g>
          </g>
      </svg></a>
      <form [formGroup]="myForm" novalidate="">

        <div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="myForm?.controls.name.invalid">{{getErrorMessageName()}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Location" formControlName="location" required>
            <mat-error *ngIf="myForm?.controls.location.invalid">{{getErrorMessageLocation()}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="myForm?.controls.email.invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" minlength="4" required>
            <mat-error *ngIf="myForm?.controls.password.invalid">{{getErrorMessagePassword()}}</mat-error>
          </mat-form-field>
        </div>

        <button type="reset" mat-button color="warn">Reset</button>
        <button mat-button color="primary" [disabled]="!myForm.valid" (click)="submit()">Register</button>

      </form>
    </mat-card>
  </div>

</main>